@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&family=Permanent+Marker&family=Roboto:wght@300&display=swap');
body {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(0,139,250,1) 100%);
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
button {
    font-size: 30px;
    height: 70px;
    width: 150px;
    cursor: pointer;
    border-radius: 50px;
    border-color: purple;
    font-family: 'Permanent Marker', cursive;
    
}
button:hover {
    text-transform: uppercase;
    box-shadow: 5px 5px 15px 5px #ffffff;
}
h1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin-top: 45px;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 50px;
    }
}